{% load static %}

<ul class="nav side-menu">
  <li>
    <a href="{% url 'index_page' %}">
      <i class="fa fa-dashboard"></i> Dashboard
    </a>
  </li>


  <li>
    <a href="{% url 'operations_center' %}">
      <i class="fa fa-compass"></i> Task Center
    </a>
  </li>

  <li>
    <a href="{% url 'academic_class_page' %}">
      <i class="fa fa-university"></i> My Classes
    </a>
  </li>

  <li>
    <a href="{% url 'attendance_dashboard' %}">
      <i class="fa fa-calendar-check-o"></i> Attendance
    </a>
  </li>

  <li>
    <a href="{% url 'add_results_page' %}">
      <i class="fa fa-edit"></i> Enter Marks
    </a>
  </li>

  <li>
    <a href="{% url 'teacher_timetable' %}">
      <i class="fa fa-clock-o"></i> My Timetable
    </a>
  </li>

  <li>
    <a href="{% url 'class_stream_filter' %}">
      <i class="fa fa-line-chart"></i> Student Performance
    </a>
  </li>

  <li>
    <a>
      <i class="fa fa-bullhorn"></i> Communication
      {% if comm_unread_count > 0 %}
      <span class="badge bg-green">{{ comm_unread_count }}</span>
      {% endif %}
      <span class="fa fa-chevron-down"></span>
    </a>
    <ul class="nav child_menu">
      <li><a href="{% url 'announcement_list' %}">Announcements</a></li>
      <li><a href="{% url 'event_list' %}">Events</a></li>
      <li><a href="{% url 'message_inbox' %}">Messages</a></li>
    </ul>
  </li>
</ul>
